$h1-font-size: 1.2rem;
$h2-font-size: 1.1rem;
$h3-font-size: 1.2rem;
$grid-gutter-width: 0px;

@import "~bootstrap/scss/bootstrap";

body {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  background-color: #fafafa;
}

.separator-line {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  margin-top: 20px;
  margin-bottom: 20px;
}

.svg-inline--fa {
  vertical-align: -0.4em !important;
}

.top-toolbar {
  background-color: #FFF;
  padding-left: 16px;
  padding-right: 16px;

  .row {
    .menu {
      padding-left: 16px;
      padding-top: 18px;
      padding-bottom: 18px;

      .icon {
        cursor: pointer;
        color: #a0a0a0;
        font-size: 1.2rem;
      }

      img {
        margin-left: 30px;
      }
    }

    .search-area {
      padding-top: 12px;

      div:last-of-type {
        border-right: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        padding-top: 4px;
        border-radius: 0 2px 2px 0;

        &:hover {
          border-color: #c6c6c6;
          background-color: #f0f0f0;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);

          .search-btn {
            color: #333333;
          }
        }
      }

      input {
        width: 100%;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 16px;
        border: 1px solid #d3d3d3;
      }

      .search-btn {
        color: #d3d3d3;
        font-size: 0.8rem;
      }
    }
  }

  .top-right-menu {
    padding-top: 10px;
    padding-right: 16px;

    svg {
      margin-right: 30px;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 16px;
    }

    svg,
    img {
      cursor: pointer;
    }

    .icon {
      font-size: 1.0rem;
      color: #a0a0a0;
    }
  }
}

.card {
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: inherit;

  &:first-of-type {
    margin-left: 0 !important;
  }

  &:last-of-type {
    margin-right: 0 !important;
  }

  .info {
    font-size: 0.8rem;

    &:first-of-type {
      padding-bottom: 2px;
    }

    span {
      &:first-of-type:after {
        content: '•';
        margin: 0 4px;
      }
    }
  }

  .card-img-top {
    border: none;
    border-radius: 0;
  }

  h2 {
    padding-top: 6px;
    max-height: 3.2rem;
    font-weight: 500;
    line-height: 1.6rem;
  }
}

.loader {
  width: 100%;
  height: 2px;
  background-color: red;
  animation: loader 20s ease-in-out;
}

@keyframes loader {
  0% {
    width: 0%;
  }

  25% {
    width: 25%;
  }

  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

.search-result-area {

}

.video-box-info {

}

.search-result-area {
  max-width: 1000px;
}